.MsInf {
    font-size:24px;
    text-align: center;
    padding: 10px 0;
     background-color:#1B191D ;
     color:#F5F5F5;
     border-radius: 50px;
     transition: 0.2s;
    font-weight: bold;
    letter-spacing: 2px;
}

.MsInf:hover{
    transform: scale(1.05, 1.02);
}

/*.Crsl_img{
    width: 100vw;
    height:100vh;
    min-height: 600px;
    max-height: 1000px;

}

@media (max-width: 600px){

.Crsl_img{
    width: 100vw;
    height:100vh;
    min-height:100px ;
    max-height: 300px;
    

}

}

*/

.Carousel_height{
    height:1000px;

}
.Crsl_img{
max-width: 100%; 
 height: auto;
}

@media (max-width: 800px){


    .Carousel_height{
        height:400px;

    }
}